body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: inherit;
    color: #ffffff;
}

header {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 50px; 
    margin-right: 10px;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd700; 
}

.container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 24px;
}

footer {
    background-color: #333;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;

}

.container {
    text-align: center;
    margin-top: 50px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 50px;
    height: auto;
    opacity: 80%;
    text-decoration: none;
    color: #000;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #ffd700;
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ffc200;
}


.featured-menu-items {
    padding: 50px 0;
}

.featured-menu-items h2 {
    text-align: center;
    color: #333;
}

.menu-item {
    margin: 50px;
    padding: 5px;
    border: 5px solid #ddd;
    border-radius: 300px;
    text-align: center;
    background-color: antiquewhite;
    transition: transform 0.3s ease-in-out;
    opacity: 75%;
    background-size:inherit;
    
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    max-width: 30%;
    border-radius: 8px;
}

.menu-item h3 {
    margin-top: 10px;
    color: #333;
}

.menu-item p {
    color: #373737;
}

h2{
    padding: 20px;
    color: white;
}
